$color: #e74c3c;

.Sub2 {
  min-height: 100%;
  width: 80vw;
  margin: 0 auto 5vh;

  h3 {
    font-size: 2.3em;
    margin-bottom: 1vh;
  }

  h5 {
    font-size: 1em;
    color: #e74c3c;
  }

  h3,
  h5 {
    text-align: center;
  }
}
.Categories {
  display: flex;
  margin: 8vh auto;

  h3 {
    width: 22%;
    margin: 0 1.5%;
    border: 1px solid $color;
    cursor: pointer;
    padding: 1vh 0.5vw;
    font-size: 1em;
    font-weight: 400;

    &:hover {
      background: $color;
      transition: 0.5s ease;
      color: #fff;
    }
  }
}

.active {
  background: $color;
  color: #fff;
}

@media screen and (max-width: 1192px) {
  .Sub2 {
    width: 85vw;
  }
}
@media screen and (max-width: 991px) {
}
