<div class="Sub2">
  <h3>Our Menu</h3>
  <h5>Search Our Dishes</h5>

  <div class="Categories">
    <h3>Special</h3>
    <h3>Special</h3>
    <h3>Special</h3>
    <h3>Special</h3>
    <h3>Special</h3>
  </div>

  <div class="Dishes">
    <div class="Dish">
      <div class="dishImg"></div>
      <div class="dishDesc">
        <h4>Cheese Burger</h4>
        <h5>$10</h5>
        <hr />
        <h6>Ingredients</h6>
      </div>
    </div>
    <div class="Dish">
      <div
        class="dishImg"
        style="background-image: url(https://images.pexels.com/photos/70497/pexels-photo-70497.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)"
      ></div>
      <div class="dishDesc">
        <h4>Cheese Burger</h4>
        <h5>$10</h5>
        <hr />
        <h6>Ingredients</h6>
      </div>
    </div>
    <div class="Dish">
      <div class="dishImg"></div>
      <div class="dishDesc">
        <h4>Cheese Burger</h4>
        <h5>$10</h5>
        <hr />
        <h6>Ingredients</h6>
      </div>
    </div>
    <div class="Dish">
      <div class="dishImg"></div>
      <div class="dishDesc">
        <h4>Cheese Burger</h4>
        <h5>$10</h5>
        <hr />
        <h6>Ingredients</h6>
      </div>
    </div>
    <div class="Dish">
      <div class="dishImg"></div>
      <div class="dishDesc">
        <h4>Cheese Burger</h4>
        <h5>$10</h5>
        <hr />
        <h6>Ingredients</h6>
      </div>
    </div>
  </div>
</div>
